@using myStringHelper;

@model Blogs.Models.ListBlogs
@{
    ViewData["Title"] = "Recipes";
}

<h1>Recipe Collection</h1>

<a class="nav-link" asp-action="Create">Create New</a>

<span>Sort By:
    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Title</a>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date Created</a>
</span>
<div class="blogs">
    @foreach (var item in Model.Blogs!)
    {
        <div class="blog">
            <img src="@item.ImagePath" alt="Image" />
            <div class="blogTxt">
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                @if (item.User.UserName != null)
                {
                    <p>By @Html.DisplayFor(modelItem => item.User.UserName)</p>
                }
                <a asp-action="Details" asp-route-id="@item.Id">View</a>
            </div>
        </div>
    }
</div>